.slider-image {
  border: 5px solid #d7caaa;
}

.slider-tab {
  background-color: #d7caaa;
  height: 25px;
}

.slider-iconfiy {
  margin-top: 10px;
}

.link-href {
  color: black;
}

.modal-inside .modal-content {
  background: white;
}

.modal-close {
  text-align: right;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.close-icon {
  color: black;
  font-weight: lighter !important;
}

.modal-description {
  text-align: justify;
  padding: 5px 5px 0 5px;
  margin-bottom: 20px;
  font-size: 12px;
}
