.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  height: 50px;
}

.title-styles {
  font-family: "Raleway", sans-serif;
  font-size: 250%;
}

.header-icon {
  height: 150px;
  width: 150px;
}

.styles_typicalWrapper__1_Uvh::after {
  cursor: none !important;
  display: none;
}